<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <div class="navbar-nav">

            <li>
                <a class="navbar-brand" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" href="#">Home</a>
            </li>
            <li>
                <a class="nav-item nav-link" routerLink="/bootstrap" routerLinkActive="active" href="#">Bootstrap</a>
            </li>
            <li>
                <a class="nav-item nav-link" routerLink="/directives" routerLinkActive="active" href="#">Directives</a>
            </li>
            <li>
                <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active" href="#">Users</a>
            </li>
            <li>
                <a class="nav-item nav-link" routerLink="/article" routerLinkActive="active" href="#">Article</a>
            </li>
            
        </div>
  
    </div>
  </nav>